<div class="container">
  <div class="upper-data">
    <img id="cutie" src="../assets/cute.png" *ngIf="14 <= 15">

    <div class="weather-data">
    </div>
    
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
      <div class="more-info-container">

        <div class="info-block">
          <div class="info-block-label">
            <span> Name : </span>
          </div>
          <div class="info-block-value">
            이지은
          </div>
        </div>
        <div class="info-block">
          <div class="info-block-label">
            <span> Her song :  </span>
          </div>
          <div class="info-block-value">
            <a href="https://www.youtube.com/watch?v=sqgxcCjD04s" target="_blank">This</a>
          </div>
        </div>


        <div class="info-block">
          <div class="info-block-label">
            <span> Her : </span>
          </div>
          <div class="info-block-value">
            <a href="https://th.wikipedia.org/wiki/%E0%B9%84%E0%B8%AD%E0%B8%A2%E0%B8%B9" target="_blank">cute</a>
          </div>
        </div>
        <div class="info-block">
          <div class="info-block-label">
            <span> IG : </span>
          </div>
          <div class="info-block-value">
            <a href="https://www.instagram.com/dlwlrma/?hl=ko" target="_blank">dlwlrma</a>
          </div>
        </div>

      </div>
      <div class="groupbtn">
        <button class="learn-more" id="hi2" onclick="hi2()"> cute </button>
        <button class="learn-more" id="hi1" onclick="hi()"> cutie </button>
      </div>
  </div>
</div>


<router-outlet></router-outlet>
